<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MuxDataSDKForMedia3"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".examples.basic.ComposeUiExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_compose_ui_example"
            android:theme="@style/Theme.MuxDataSDKForMedia3" />
        <activity
            android:name=".examples.ima.ImaClientAdsActivity"
            android:exported="false" />
        <activity
            android:name=".examples.ima.ImaServerAdsActivity"
            android:exported="false" />
        <activity
            android:name=".examples.background.BackgroundPlayActivity"
            android:exported="false" />
        <activity android:name=".examples.basic.PlayerReuseActivity"
            android:exported="false" />

        <service
            android:name=".examples.background.BackgroundPlayService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".examples.basic.BasicPlayerActivity" />

    </application>

</manifest>